@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Unbounded', cursive;
}

html,
body {
  background-image: url("../src/images/welcome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.icon {
  font-size: 19px;
}

.icon.icon-header {
  color: #fff
}

/* cart */
.shopping-cart {
  position: fixed;
  background-color: #edecec;
  top: 0;
  right: 0;
  height: 100%;
  padding-top: 40px;
  width: 360px;
  z-index: 1;
  overflow-y: scroll;
  transition: all 0.4s ease-out;
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  opacity: 0.9;
}

.shopping-cart.speed-in {
  right: 0;
}

.shopping-cart__top {
  padding-bottom: 40px;
}

.shopping-cart__title {
  text-align: center;
}

.shopping-cart__list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.list__items {
  width: 90%;
  height: 200px;
}

.shopping-cart__card {
  font-size: 12px;
  width: 300px;
  height: 160px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 19px;
}

.shopping-cart__payable-value {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.card__details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  text-transform: uppercase;
}

.card__img {
  width: 150px;
  height: 150px;
}

.card__img img {
  width: 135;
  height: 110px;
  border-radius: 8px;
}

.btn {
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn>* {
  pointer-events: none;
}

.btn.cart {
  width: 70px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.btn.btn--full {
  width: 100%;
}

.btn.btn--success {
  color: #fff;
  background-color: #74bca4;
  border-radius: 7px;
}

.btn--success:hover {
  background-color: #4ac59c;
  transition: all 0.49s;
}

.btn.btn--disabled {
  transition: all 0.49s;
  background-color: rgba(128, 128, 128, 0.603);
  border-radius: 8px;
}

.btn.btn--danger {
  border-radius: 7px;
  background-color: red;
  color: #fff;
}

.btn--danger:hover {
  background-color: rgb(241, 67, 67);
  transition: all 0.49s;
}


@media screen and (max-width: 640px) {
  .products__actions {
    opacity: 6;
  }

  .header__container {
    text-align: center;
  }

  .nav__list {
    padding: 7px 0;
    gap: 20px
  }

  .nav {
    font-size: 12px;
  }

  .content {
    justify-content: center;
  }
}

@media screen and (min-width: 640px) and (max-width: 1280px) {
  .header__container {
    text-align: center;

  }

  .nav__list {
    padding: 7px 0;
    gap: 20px
  }

  .products__actions {
    opacity: 6;

  }

  .nav {
    font-size: 12px;
  }

  .content {
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {

  .content {
    justify-content: center;
  }

}